/*navigation bar*/
.navfont {
	font-family: 'Courgette', cursive;
	font-size: 15px;
}

.navjava {
	font-size: 17px;
}

/*blog page*/
#blogcolor {
	background-color: #cccccc;
}
.blogcontainer {
	/*padding-top: 70px;*/
	text-indent: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.jumbotron {
	text-align: center;
	background-color: #cccccc;
	margin: 35px 250px 40px 250px;
	color: #6666ff;
}

.date {
	font-family: 'Raleway', sans-serif;
	color: #ff80b3;
}

.title {
	font-family: 'Raleway', sans-serif;
	padding-left: 15px;
	color: #3399ff;
}
.row {
	/*padding-left: 30px;
	padding-right: 30px;*/
	font-family: 'Catamaran', sans-serif;
	font-size: 15px;
	padding-bottom: 15px;
}

/*home page*/
.homecolor {
	background-color: #e6ccff;
}
.homecontainer {
	padding-top: 70px;
	/*background-color: #ff99ff;*/
}
.home {
	color: #3399ff;
	text-align: center;
}

#title {
	padding-bottom: 50px;
}

/*about me page*/
.aboutmecolor {
	background-color: #b3ccff;
}

.me {
	margin: 10px;
	border: 5px solid white;
	width: 300px;
}

.aboutmecontainer {
	padding-top: 70px;
}

.aboutme {
	text-align: center;
}

.aboutme2 {
	font-family: 'Catamaran', sans-serif;
	font-size: 18px;
	padding-top: 20px;
	/*margin-left: 80px;
	margin-right: 80px;*/
}

#aboutmeleft {
	margin-left: 80px;
}

#aboutmeright{
	margin-right: 80px;
}

/*contact me page*/
.contactmecontainer {
	padding-top: 70px;
	padding-left: 30px;
}

#contactmecolor {
	background-color: #b3ffcc;
}

#contactme {
	margin-bottom: 25px;
	font-family: 'Sorts Mill Goudy', serif;
}

#linkedin {
	color: #a499d6;
	text-decoration: underline;
}

.contactmedetails {
	text-indent: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

.contactsource {
	font-family: 'Delius', cursive;
	font-size: 20px;
}

/*education page*/
.educationcontainer {
	padding-top: 70px;
	padding-left: 30px;
	/*background-color: #ffcc66;*/
}

#education {
	margin-bottom: 25px;
	font-family: 'Sorts Mill Goudy', serif;
}

#galogo {
	padding-left: 20px;
	padding-top: 60px;
}

#lynnlogo {
	padding-left:20px;
	padding-top: 30px;
}

#educationline {
	width: 580px;
	border: 1px solid #768DC8;
}

#educationcolor {
	background-color: #ffcc66;
}

.schoolname {
	font-family: 'Delius', cursive;
	font-size: 20px;
}

.coursework {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

/*experience page*/
.experiencecontainer {
	padding-top: 70px;
	/*padding-left: 30px;*/
	/*text-align: center;*/
	background-color: #b3ffe0;
}

#experience {
	/*text-align: center;*/
	margin-bottom: 25px;
	font-family: 'Sorts Mill Goudy', serif;
}

.companyname {
	font-family: 'Delius', cursive;
	font-size: 20px;
}

.experiencedetails {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	list-style: circle;
}

#infomanagelogo {
	/*height: 80px;
	width: 200px;*/
	padding-left: 40px;
	padding-top: 150px;
}

#marvelwoodlogo {
	padding-left: 40px;
	padding-top: 175px;
}

.experienceline {
	width: 600px;
	border: 1px solid #b800e6;
}

/*leadership page*/
#leadershipcolor {
	background-color: #c2c2d6;
}

.leadershipcontainer {
	padding-top: 70px;
	padding-left: 30px;
}

#leadership {
	margin-bottom: 25px;
	font-family: 'Sorts Mill Goudy', serif;
}

#sorority {
	font-family: 'Delius', cursive;
	font-size: 20px;
}

.leadershipdetails {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	list-style: circle;
}

#sigmalogo {
	padding-top: 90px;
}

#leadershipline {
	width: 580px;
	border: 1px solid #85adad;
}

/*skills page*/
.skillscontainer {
	padding-top: 70px;
	padding-left: 30px;
}

#skillscolor {
	background-color: #ffd1b3;
}

#skills {
	margin-bottom: 25px;
	font-family: 'Sorts Mill Goudy', serif;
}

.skills {
	font-family: 'Delius', cursive;
	font-size: 20px;
	list-style: circle;
}

.skillsjava {
	font-size: 25px;
	color: #666699;
}

/*interests page*/
.interestscontainer {
	padding-top: 70px;
	padding-left: 30px;
}

#interestscolor {
	background-color: #ffcce0;
}

#interests {
	margin-bottom: 25px;
	font-family: 'Sorts Mill Goudy', serif;
}

.interests {
	font-family: 'Delius', cursive;
	font-size: 20px;
}

.interestsdetails {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	list-style: circle;
}

/*projects page*/
#projectscolor {
	background-color: pink;
}
.projectscontainer {
	/*background-color: pink;*/
	padding-top: 70px;
	padding-left: 30px;
	text-align: center;
}

.classcontainer {
	padding-bottom: 20px;
}

#myprojects {
	color: #96a5c4;
	font-family: 'Libre Baskerville', serif;
	font-size: 45px;
}

.classname {
	font-family: 'Titillium Web', sans-serif;
	color: #cc66ff;
}

.projectslinks {
	color: #b300b3;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 20px;
}

.projectdescriptions {
	font-family: 'Abhaya Libre', serif;
	font-size: 16px;
}

.projectspictures {
	/*float: left;*/
	/*border: 1px solid black;*/
	width: 500px;
	padding: 30px;
}

footer {
	text-align: center;
	padding-bottom: 10px;
}

hr {
	border: 1px solid black;
}

.style-footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	padding-top: 20px;
}